ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

head {
    background-color: #E1FCFF;
    font: 10px monospace, "Courier New";
}

body {
    background-color: #F1FEFF;
    font: 10px monospace, "Courier New";
}

.navBar {
    background-color: #E1FCFF;
    overflow: hidden;
}

.navBar a {
    float: right;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font: 10px monospace, bold, "Courier New";
}

.navBar a:hover {
    background-color: #F1FEFF;
    color: black;
}

.navBar a.active {
    background-color: black;
    color: black;
}

.row {
    display: flex;
    flex-wrap: unset;
    padding: 20px 40px;
}

.column {
    flex: 40%;
    padding: 80px;
}

.column img {
    margin-top: 60px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #52969B;
}

::-webkit-scrollbar-thumb {
    background: #88C1C5;
}

.img {
    filter: grayscale(100%);
    height: 280px;
    width: 360px;
    box-shadow: 0 0 2px 2px #002747;
}

.img:hover {
    filter: grayscale(0%);
    transform: scale(1.3);
    transition: filter 4s;
}

.intro {
    padding-top: 34px;
    text-align: center;
    font-size: 40px;
}