ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

head {
    background-color: #E1FCFF;
    font: 10px monospace, "Courier New";
}

body {
    background-color: #F1FEFF;
    font: 10px monospace, "Courier New";
}

.navBar {
    background-color: #E1FCFF;
    overflow: hidden;
}

.navBar a {
    float: right;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font: 10px monospace, bold, "Courier New";
}

.navBar a:hover {
    background-color: #F1FEFF;
    color: black;
}

.navBar a.active {
    background-color: black;
    color: black;
}

.row {
    display: flex;
    flex-wrap: unset;
    padding: 10px 20px;
}

.column {
    flex: 33%;
    padding: 40px;
}

.column img {
    margin-top: 23px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #52969B;
}

::-webkit-scrollbar-thumb {
    background: #88C1C5;
}